.artilce{
    border: 1px solid powderblue;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
}

.article-header{
    background-color: lightblue;
    color: navy;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.article-header div *{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}

.article-header div img{
    animation: rotate 3s linear infinite;
    animation-direction: alternate-reverse;
    border-radius: 50%;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    margin-right: 10%;
    width: 10%;
    height: 10%;
}

.article-header h2{
    text-align: center;
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-style:  double;
    padding: 0 5px 10px 5px;
}

.artilce-body{
    padding: 10px;
    text-align: justify;
    font-family: Arial, Verdana, cursive;
    line-height: 25px;
}

.artilce-footer{
    padding: 0px 10px;
    text-align: center;
    background-color: powderblue;
    color: #555;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}


@keyframes rotate{
    0%{
        background-color: blue;
        transform: rotateY(0deg);
    }

    100%{
        background-color: yellow;
        transform: rotateY(360deg);
    }
}

.commentaire{
    border: 1px solid rgb(176, 224, 230);
    min-width: 200px;
    width: 45%;
}

.commentaire-header{
    background-color: rgb(3, 3, 68);
    color: #fff;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}